<app-denuncia-layout>

    <app-denuncia-details slot="details" [denuncia]="denunciaSignal()">
    </app-denuncia-details>

    <div slot="actions" class="h-full">

        @defer (when isJefe()) {
        <app-actions-jefe [currentDenuncia]="denunciaSignal()">
        </app-actions-jefe>
        }

        @defer (when isSupervisor()) {
        <app-actions-supervisor [currentDenuncia]="denunciaSignal()">
        </app-actions-supervisor>
        }

        @defer (when isOperador()) {
        <app-actions-operador [currentDenuncia]="denunciaSignal()">
        </app-actions-operador>
        }


    </div>



</app-denuncia-layout>
