@if (evidencias()?.length; as count) {
<div class="w-full h-full flex gap-4 overflow-x-auto pb-4 snap-x snap-mandatory scrollbar-hide">

    @for (evidencia of evidencias(); track evidencia.url) {
    <div
        class="snap-center shrink-0 w-4/5 md:w-2/3 lg:w-1/2 h-full rounded-xl overflow-hidden shadow-md border border-gray-200 group relative bg-white hover:shadow-xl transition-shadow duration-300">

        @if (evidencia.contentType?.includes('image')) {
        <app-secure-image [src]="evidencia.url"
            class="block w-full h-full transform transition-transform duration-500 group-hover:scale-105" />
        } @else {
        <div class="flex flex-col items-center justify-center h-full w-full text-slate-400 bg-slate-50">
            <fa-icon [icon]="faVideo" class="text-3xl mb-2 text-blue-500"></fa-icon>
            <span class="text-sm font-medium">Video Adjunto</span>
        </div>
        }

    </div>
    }

    @if (count === 1) {
    <div class="shrink-0 w-4 pb-4"></div>
    }
</div>
} @else {
<div
    class="w-full h-full p-8 rounded-xl border-2 border-dashed border-slate-300 bg-slate-50 flex flex-col items-center justify-center text-center">
    <span class="text-slate-400">Sin evidencias disponibles</span>
</div>
}
