@if (denuncia(); as denuncia) {

<app-denuncia-layout>

    <app-denuncia-details slot="details" [denuncia]="denuncia">
    </app-denuncia-details>


    <div slot="actions" class="h-full">

        @switch (true) {

        @case (isJefe()) {
        @defer (on immediate) {
        <app-actions-jefe [currentDenuncia]="denuncia" />
        }
        }

        @case (isSupervisor()) {
        @defer (on immediate) {
        <app-actions-supervisor [currentDenuncia]="denuncia" />
        }
        }

        @case (isOperador()) {
        @defer (on immediate) {
        <app-actions-operador [currentDenuncia]="denuncia" />
        }
        }
        }
    </div>

</app-denuncia-layout>

} @else {
<div class="skeleton-loader">Cargando expediente...</div>
}
