<div class="relative w-full h-full bg-gray-50 overflow-hidden">
    @if (safeUrl()) {
    <img [ngSrc]="safeUrl()!" fill priority (error)="handleLoadError()" alt="User provided content"
        class="object-cover w-full h-full transition-opacity duration-300" />
    } @else {
    <div
        class="flex flex-col items-center justify-center w-full h-full p-2 text-center bg-gray-100 text-gray-500 text-xs min-h-[150px]">
        <span class="break-words w-full">{{ displayError() }}</span>
    </div>
    }
</div>
