@import 'leaflet/dist/leaflet.css';

/* Fix para conflicto entre Leaflet y Tailwind GLOBAL */
/* Fix para conflicto entre Leaflet y Tailwind GLOBAL */
.leaflet-container img.leaflet-image-layer,
.leaflet-container img.leaflet-tile {
  max-width: none !important;
  max-height: none !important;
  width: auto;
  padding: 0;
}
