<div class="flex h-full flex-col bg-white rounded-xl shadow-sm border border-gray-200 overflow-hidden  page-root">
    <div class="px-8 py-6 border-b rounded-xl border-gray-100 flex items-center justify-between bg-white shrink-0">

        <h2 class="text-xl font-bold text-slate-800 tracking-tight">
            Crear nueva denuncia
        </h2>
    </div>

    <div class="flex-1 overflow-y-auto p-6 page-scroll" #scrollArea>

        <form [formGroup]="form" (ngSubmit)="guardarDenuncia()" class="max-w-3xl mx-auto space-y-6">
            <div>
                <label for="titulo" class="block text-sm font-semibold text-slate-700 mb-2">
                    Título</label>
                <app-input id="titulo" formControlName="titulo" type="text"
                    placeholder="Ej: Semáforo dañado en la Av. Amazonas" [maxlength]="100">
                </app-input>

                <div class="mt-1 text-xs text-gray-500 flex items-center justify-between">
                    <div id="titulo-help">Requerido. 5–100 caracteres.</div>
                    <div class="text-gray-400">{{ (form.get('titulo')?.value?.length || 0) }}/100</div>
                </div>
            </div>

            <div>
                <label for="descripcion" class="block text-sm font-semibold text-slate-700 mb-2">Descripción</label>
                <app-input id="descripcion" formControlName="descripcion" [multiline]="true" [rows]="6"
                    placeholder="Describe detalladamente lo que está ocurriendo..." [maxlength]="1000">
                </app-input>

                <div class="mt-1 text-xs text-gray-500 flex items-center justify-between">
                    <div id="descripcion-help">Requerido. 10–1000 caracteres.</div>
                    <div class="text-gray-400">{{ (form.get('descripcion')?.value?.length || 0) }}/1000
                    </div>
                </div>
            </div>

            <app-category-selector [categories]="listadoCategorias"
                formControlName="categoriaDenuncia"></app-category-selector>

            <div>
                <label for="anonimato" class="block text-sm font-semibold text-slate-700 mb-2">Nivel de
                    Anonimato</label>
                <app-select id="nivelAnonimato" label="Nivel de Anonimato" [options]="listadoAnonimato"
                    formControlName="nivelAnonimato" placeholder="Seleccione el nivel de privacidad">
                </app-select>

                @if (form.get('nivelAnonimato')?.invalid && form.get('nivelAnonimato')?.touched) {
                <div id="nivelAnonimato-error" class="mt-1 text-xs text-red-500">
                    @if (form.get('nivelAnonimato')?.errors?.['required']) {
                    <div>El nivel de anonimato es requerido.</div>
                    }
                </div>
                }
            </div>

            <div>
                <span class="flex items-center text-sm font-semibold text-slate-700 mb-2 gap-2">
                    <fa-icon [icon]="faMapMarkerAlt" class="text-blue-600"></fa-icon>
                    Ubicación del incidente
                </span>

                <div class="map-container relative w-full h-[350px] rounded-lg overflow-hidden border border-gray-200 shadow-inner"
                    #mapContainer></div>

                <p class="text-xs text-gray-500 mt-2 flex items-center gap-1">
                    <fa-icon [icon]="faInfoCircle"></fa-icon> Haz clic en el mapa para fijar el marcador.
                </p>
            </div>

            @defer (on viewport) {
            <app-file-upload (filesChange)="evidencias.set($event)" [uploadFn]="uploadEvidenceStrategy"
                (uploadError)=" handleUploadError($event)"></app-file-upload>

            } @placeholder {
            <div class="h-32 border-2 border-dashed border-gray-300 rounded-lg"></div>
            }

            <div class="pt-4 border-t border-gray-100 flex items-center justify-end gap-3">
                <app-submit-button [variant]="'medium'" [appearance]="'secondary'" [btnType]="'button'" label="Cancelar"
                    [icon]="faTimes">
                </app-submit-button>
                <app-submit-button [variant]="'medium'" [isLoading]="isLoading()" [btnType]="'submit'"
                    [isDisabled]="form.invalid" label="Enviar denuncia" [icon]="faPaperPlane">
                </app-submit-button>
            </div>
        </form>
    </div>
</div>
