<div class="bg-white rounded-xl shadow-sm border border-gray-200 p-6 sticky top-0">
    <h2 appText="h3" class="mb-1">Asignación de denuncia</h2>

    <form [formGroup]="form" (ngSubmit)="asignarJefePorSupervisor()" class="space-y-4">

        <div>
            <app-select id="entidad" label="Asignar entidad responsable" placeholder="Seleccione una entidad..."
                [options]="entidadesOptions()" formControlName="entidadId">
            </app-select>
        </div>

        <app-submit-button label="Guardar Asignación" [icon]="faSave" btnType="submit" [isDisabled]="form.invalid"
            class="mt-2 block w-full">
        </app-submit-button>

    </form>
</div>
