<aside class="sidebar bg-white w-16 flex flex-col items-center py-6 shadow-md z-10 h-full border-r border-gray-100"
    aria-label="Barra lateral de navegación">

    <div class="mb-8 w-8 h-8 bg-blue-600 rounded-lg flex items-center justify-center text-white font-bold text-xl shadow-sm cursor-default"
        role="img" aria-label="Logo de la Empresa">
        <span class="text-xs">UI</span>
    </div>

    <nav class="flex flex-col gap-6 items-center w-full">

        <a routerLink="/ciudadano/notifications" routerLinkActive="text-blue-600" #rlaNotif="routerLinkActive"
            [class.text-gray-500]="!rlaNotif.isActive"
            class="group relative w-10 h-10 flex items-center justify-center rounded-full transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-gray-200 cursor-pointer"
            aria-label="Ver notificaciones">

            <i class="fas fa-bell text-xl group-hover:scale-110 transition-transform"></i>

            @if (rlaNotif.isActive) {
            <span class="absolute top-2 right-2 w-2 h-2 bg-blue-600 rounded-full animate-pulse"></span>
            }
        </a>

        <a routerLink="/ciudadano/dashboard" routerLinkActive="bg-blue-600 text-white shadow-lg ring-blue-100"
            #rlaMain="routerLinkActive" [class.bg-gray-100]="!rlaMain.isActive"
            [class.text-gray-400]="!rlaMain.isActive"
            class="w-12 h-12 flex items-center justify-center rounded-2xl transition-all duration-200 focus:outline-none focus:ring-4 hover:scale-105 active:scale-95 cursor-pointer"
            aria-label="Ir al panel de usuarios">

            <i class="fas fa-users text-xl"></i>
        </a>

    </nav>

    <div class="mt-auto pb-4">
        <ng-content></ng-content>
    </div>

</aside>
