<button [type]="btnType()" [disabled]="isDisabled() || isLoading()" [class]="rootClasses()"
    [attr.aria-busy]="isLoading()" [attr.aria-label]="isLoading() ? loadingLabel() : label()">

    @if (isLoading()) {
    <fa-icon [icon]="faSpinner" class="mr-2 fa-spin" [class]="iconSizeClasses()">
    </fa-icon>
    <span>{{ loadingLabel() }}</span>
    }
    @else {
    @if (variant() !== 'small' && icon()) {
    <fa-icon [icon]="icon()" class="mr-2" [class]="iconSizeClasses()">
    </fa-icon>
    }
    <span>{{ label() }}</span>
    }
</button>
