<!-- <div class="bg-white rounded-xl shadow-sm border border-gray-200 p-6 sticky top-0">
    <h2 appText="h3" class="mb-1">Supervisión de denuncia</h2>

    <div class="space-y-4">
        <div>
            <app-select id="entidad" label="Asignar entidad responsable" placeholder="Seleccione una entidad..."
                [options]="entidadesOptions" [formControl]="entidadControl">
            </app-select>
        </div>

        <div>
            <label appText="label" for="notas">Comentarios</label>
            <textarea [formControl]="notasControl" id="notas" rows="3"
                class="block w-full rounded-lg bg-gray-50 border-gray-200 focus:ring-blue-500 focus:border-blue-500 py-3 px-4 text-sm resize-none"
                placeholder="Comentarios..."></textarea>
        </div>

        <app-submit-button label="Guardar Asignación" [icon]="faSave" (click)="guardarAccion()" btnType="button"
            class="mt-2">
        </app-submit-button>
    </div>
</div> -->

<div class="bg-white rounded-xl shadow-sm border border-gray-200 p-6 sticky top-0">
    <h2 appText="h3" class="mb-1">Supervisión de denuncia</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-4">

        <div>
            <app-select id="entidad" label="Asignar entidad responsable" placeholder="Seleccione una entidad..."
                [options]="entidadesOptions" formControlName="entidadId">
            </app-select>

            @if (form.controls.entidadId.invalid && form.controls.entidadId.touched) {
            <p class="text-xs text-red-500 mt-1">Debes seleccionar una entidad.</p>
            }
        </div>

        <div>
            <label appText="label" for="notas">Comentarios</label>
            <textarea id="notas" formControlName="notas" rows="3"
                class="block w-full rounded-lg bg-gray-50 border-gray-200 focus:ring-blue-500 focus:border-blue-500 py-3 px-4 text-sm resize-none transition-colors"
                placeholder="Instrucciones para la entidad..."></textarea>
        </div>

        <app-submit-button label="Guardar Asignación" [icon]="faSave" btnType="submit" [isDisabled]="form.invalid"
            class="mt-2 block w-full">
        </app-submit-button>

    </form>
</div>
